@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-x-hidden bg-neutral;
  scroll-behavior: smooth;
}

.linear-gradient-text {
  background: linear-gradient(180deg, #40a2e3, #fff6e9 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
